<app-header></app-header>

<app-carousel></app-carousel>

<section class="people-block">
	<div class="container">
		<div class="people-block">
			<div class="col-lg-6 col-12">
				<h2>Ut placerat orci nulla pellentes</h2>
			</div>
			<img src="assets/img/building.jpg" class="people-block__list-img" alt="">
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="btn btn-success mt-5">Lorem ipsum</div>
		</div>
	</div>
</section>

<section class="p-b__revers" id="about_us">
	<div class="container">
		<div class="people-block">
			<div class="people-block__list mt-0 col-lg-6 col-12">
				<h2>Ut placerat orci nulla pellentes</h2>
			</div>
			<img src="assets/img/building.jpg" class="people-block__list-img" alt="">
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="people-block">
	<div class="container">
		<div class="col-lg-12 col-12">
			<h3>Ullamcorper dignissim</h3>
			<div class="row">
				<div class="people-block__list col-lg-4 col-12">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
				<div class="people-block__list col-lg-4 col-12">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
				<div class="people-block__list col-lg-4 col-12">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<app-footer></app-footer>