
<app-header></app-header>

<section class="carousel-text">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-12 my-auto">
				<span class="carousel-text__item">Lorem ipsum dolor sit amet</span>
			</div>
			<div class="col-lg-6 col-12">
				<div id="carouselText" class="carousel carousel-light slide" data-bs-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active" data-bs-interval="10000">
				      <div class="carousel-caption d-none d-md-block">
				        <span>First slide label</span>
				        <p>Some representative placeholder content for the first slide.</p>
				      </div>
				    </div>
				    <div class="carousel-item" data-bs-interval="2000">
				      <div class="carousel-caption d-none d-md-block">
				        <span>First slide label</span>
				        <p>Some representative placeholder content for the first slide.</p>
				      </div>
				    </div>
				    <div class="carousel-item">
				      <div class="carousel-caption d-none d-md-block">
				        <span>First slide label</span>
				        <p>Some representative placeholder content for the first slide.</p>
				      </div>
				    </div>
				  </div>
				  <button class="carousel-control-prev" type="button" data-bs-target="#carouselText" data-bs-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#carouselText" data-bs-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Next</span>
				  </button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="people-block">
	<div class="container">
		<div class="people-block">
			<div class="col-lg-6 col-12">
				<h2>Ut placerat orci nulla pellentes</h2>
			</div>
			<img src="assets/img/building.jpg" class="people-block__list-img" alt="">
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="btn btn-success mt-5">Lorem ipsum</div>
		</div>

			<!-- <div class="col-lg-6 col-12">
				<h2>Ut placerat orci nulla pellentes</h2>
				<div class="people-block__list">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
				<div class="people-block__list">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
				<div class="people-block__list">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
				<div class="btn btn-success mt-5">Lorem ipsum</div>
			</div>
			<div class="col-lg-6 col-12 col-md-12">
				<img src="assets/img/building.jpg" class="w-100 people-block__list-img" alt="">
			</div> -->
	</div>
</section>


<section class="p-b__revers" id="about_us">
	<div class="container">
		<div class="people-block">
			<div class="people-block__list mt-0 col-lg-6 col-12">
				<h2>Ut placerat orci nulla pellentes</h2>
			</div>
			<img src="assets/img/building.jpg" class="people-block__list-img" alt="">
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
			<div class="people-block__list col-lg-6 col-12">
				<img src="assets/img/face.jpg" alt="">
				<div>
					<span>Vestibulum rhoncus</span>
					<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
				</div>
			</div>
		</div>

			
	</div>
</section>


<!-- <section class="people-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-12 col-md-12">
				<img src="assets/img/building.jpg" class="w-100" alt="">
			</div>
			<div class="col-lg-6 col-12">
				<h2 class="mb-5">Ut placerat orci nulla pellentes</h2>
				<div class="people-block__list">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
				<div class="people-block__list">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
				<div class="people-block__list">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<section class="people-block">
	<div class="container">
		<div class="col-lg-12 col-12">
			<h3>Ullamcorper dignissim</h3>
			<div class="row">
				<div class="people-block__list col-lg-4 col-12">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
				<div class="people-block__list col-lg-4 col-12">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
				<div class="people-block__list col-lg-4 col-12">
					<img src="assets/img/face.jpg" alt="">
					<div>
						<span>Vestibulum rhoncus</span>
						<p>At auctor urna nunc id cursus metus aliquam. Sit amet aliquam id diam maecenas ultricies mi eget. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <app-scroll-to-top></app-scroll-to-top> -->

<app-footer></app-footer>